<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="font-weight: bold">
      Add the files to analyze
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCloseModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #f="ngForm" (ngSubmit)="onSubmit(f, numCtrl.value)">
          <ion-input ngModel id="input" name="num" required #numCtrl="ngModel" type="number">Number of files:
          </ion-input>
          <ion-button id="button" expand="block" type="submit" id="button" color="secondary" [disabled]="!f.valid">OK
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form #f1="ngForm" (ngSubmit)="onSubmitModal(f1)">
          <ion-list *ngFor="let t of times">
            <ion-item>
              <ion-input ngModel id="{{t}}" name="{{t}}" type="file"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" id="confirm" expand="block" [disabled]="true">Confirm</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>