<!DOCTYPE html>
<html>
<head>
<title> Results of the differential expression analysis </title>
</head>
<body>
<div>
<table style="width:100%">
<tr><th> Name </th>
<th> Accession Number </th>
<th> Stem-Loop miRNA </th>
<th> Sequence </th>
<th> Strand </th>
</tr>
<tr>
<th> param['name'] </th>
<th>param['accnum'] </th>
<th> param['stem'] </th>
<th> param['seq'] </th>
<th> param['std']</th>
</tr>
<tr><th> <h3> Secondary Structure </h3> </th> </tr>
<tr><th> <img src=param['img']> </th> </tr>
</table>
</div>
</body>
</html>
