<!DOCTYPE html>
<html>
    <head>
        <title> Results of the differential expression analysis </title>
    </head>

    <body>
        <div>
            <table style="width:100%">
                <tr>
                    <th> Name </th>
                    <th> Accession Number </th>
                    <th> Stem-Loop miRNA </th>
                    <th> Sequence </th>
                </tr>
                <tr>
                    <th> {{param['name']}} </th>
                    <th> {{param['accession']}} </th>
                    <th> {{param['pre']}} </th>
                    <th> {{param['seq']}} </th>
                </tr>

                <tr>
                    <td colspan="4"><h3> Secondary Structure </h3></td>
                </tr>
                <tr>
                    <td colspan="4"><img src={{param['img']}}> </td>
                </tr>
            </table>

            <h2> List of target genes for this mirna</h2>

            <table>
                {% for row in table %}
                <tr>
                    {% for col in row %}
                    <td>
                        {{col}}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>

        </div>
    </body>
</html>
