<ion-header>
  <ion-toolbar text-center color="secondary">
    <ion-title style="font-weight: bold">
      MyMiRNA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-list>
          <ion-card id="card0" [hidden]="isIndex">
            <form #form0="ngForm" (ngSubmit)="onSubmit(form0, 'f0')">
              <ion-item>
                <ion-label position="floating">Experiment's Index</ion-label>
                <ion-input ngModel name="index" required #indexCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form0.valid">
                Submit Index
              </ion-button>
            </form>
          </ion-card>
          <ion-card id="card1" [hidden]="isTrimming">
            <form #form1="ngForm" (ngSubmit)="onSubmit(form1, 'f1')">
              <ion-item>
                <ion-label position="floating">Minumum Quality</ion-label>
                <ion-input ngModel name="qual" required #qualCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Adapter</ion-label>
                <ion-input ngModel name="adapter" required #adaptCtrl="ngModel" type="text"
                  placeholder="TGGAATTCTCGGGTGCCAAGG"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form1.valid">
                Adapter Trimming
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isTrimming">
            <ion-card-header>
              <ion-card-title text-center>Trimming process</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(1)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card id="card2" [hidden]="isShortStack">
            <form #form2="ngForm" (ngSubmit)="onSubmit(form2, 'f2')">
              <ion-item>
                <ion-label position="floating">Multimap Threshold</ion-label>
                <ion-input ngModel name="tresh" required #treshCtrl="ngModel" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">N. Cores</ion-label>
                <ion-input ngModel name="core" required #coreCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form2.valid">
                ShortStack
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isShortStack">
            <ion-card-header>
              <ion-card-title text-center>ShortStack process</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(2)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card id="card3" [hidden]="isMiRNA">
            <form #form3="ngForm" (ngSubmit)="onSubmit(form3, 'f3')">
              <ion-item>
                <ion-label position="floating">p_value</ion-label>
                <ion-input ngModel name="p_value" #pvalueCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value_adjusted</ion-label>
                <ion-input ngModel name="p_value_adjusted" #padjustedCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">log_2_fold</ion-label>
                <ion-input ngModel name="log" #logCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form3.valid">
                miRNAs analysis
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isMiRNA">
            <ion-card-header>
              <ion-card-title text-center>MiRNA process</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(3)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card id="card4" [hidden]="isPiRNA">
            <form #form4="ngForm" (ngSubmit)="onSubmit(form4, 'f4')">
              <ion-item>
                <ion-label position="floating">p_value</ion-label>
                <ion-input ngModel name="p_value" #pvalueCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value_adjusted</ion-label>
                <ion-input ngModel name="p_value_adjusted" #padjustedCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">log_2_fold</ion-label>
                <ion-input ngModel name="log" #logCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form4.valid">
                piRNAs analysis
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isPiRNA">
            <ion-card-header>
              <ion-card-title text-center>PiRNA analysis</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(4)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card id="card5" [hidden]="isOthers">
            <form #form5="ngForm" (ngSubmit)="onSubmit(form5, 'f5')">
              <ion-item>
                <ion-label position="floating">p_value</ion-label>
                <ion-input ngModel name="p_value" #pvalueCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value_adjusted</ion-label>
                <ion-input ngModel name="p_value_adjusted" #padjustedCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">log_2_fold</ion-label>
                <ion-input ngModel name="log" #logCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form5.valid">
                ncRNAs analysis
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isOthers">
            <ion-card-header>
              <ion-card-title text-center>Other ncRNA</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(5)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card id="card6" [hidden]="isNovelMirna">
            <form #form6="ngForm" (ngSubmit)="onSubmit(form6, 'f6')">
              <ion-item>
                <ion-label position="floating">Max. Mismatches</ion-label>
                <ion-input ngModel name="mismatches" required #mismCtrl="ngModel" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">N. Cores</ion-label>
                <ion-input ngModel name="core" required #coreCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value</ion-label>
                <ion-input ngModel name="p_value" #pvalueCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value_adjusted</ion-label>
                <ion-input ngModel name="p_value_adjusted" #padjustedCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">log_2_fold</ion-label>
                <ion-input ngModel name="log" #logCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form6.valid">
                novel miRNAs
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isNovelMirna">
            <ion-card-header>
              <ion-card-title text-center>Novel miRNAs analysis</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(6)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card id="card7" [hidden]="isNovelPirna">
            <form #form7="ngForm" (ngSubmit)="onSubmit(form7, 'f7')">
              <ion-item>
                <ion-label position="floating">Max. Mismatches</ion-label>
                <ion-input ngModel name="mismatches" required #mismCtrl="ngModel" type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">N. Cores</ion-label>
                <ion-input ngModel name="core" required #coreCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value</ion-label>
                <ion-input ngModel name="p_value" #pvalueCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">p_value_adjusted</ion-label>
                <ion-input ngModel name="p_value_adjusted" #padjustedCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">log_2_fold</ion-label>
                <ion-input ngModel name="log" #logCtrl="ngModel" type="number"></ion-input>
              </ion-item>
              <ion-button expand="block" type="submit" [disabled]="!form7.valid">
                novel piRNAs
              </ion-button>
            </form>
          </ion-card>
          <ion-card [hidden]="!isNovelPirna">
            <ion-card-header>
              <ion-card-title text-center>Novel piRNAs analysis</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(7)">Show results</ion-button>
            </ion-card-content>
          </ion-card>

          <ion-card [hidden]="!isStatistic">
            <ion-card-header>
              <ion-card-title text-center>Statistics</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button expand="block" color="secondary" (click)="showResults(8)">Show statistics</ion-button>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
      <ion-col [hidden]="default" class="background"></ion-col>

      <ion-col [hidden]="!isReadyTrimming" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='multiqc'></iframe>
      </ion-col>

      <ion-col [hidden]="!isReadyShortstack" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='shortStack'></iframe>
      </ion-col>

      <ion-col [hidden]="!isReadyMirna" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='mirnaAnalysis'></iframe>
      </ion-col>

      <ion-col [hidden]="!isREadyPirna" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='pirnaAnalysis'></iframe>
      </ion-col>

      <ion-col [hidden]="!isReadyOthers" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='otherAnalysis'></iframe>
      </ion-col>

      <ion-col [hidden]="!isReadyNovelMi" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='novelMirna'></iframe>
      </ion-col>

      <ion-col [hidden]="!isReadyNovelPi" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='novelPirna'></iframe>
      </ion-col>

      <ion-col [hidden]="!isReadyStatistic" size="10">
        <iframe style="width: 100%; height: 100%;" [src]='statistic'></iframe>
      </ion-col>

    </ion-row>

    <ion-row [hidden]="!isReadyMirna">
      <ion-col offset="2" size="10">
        <ion-list *ngFor="let mature of matureMirnaList">
          <ion-item (click)="showMirna(mature)">{{ mature }}</ion-item>
        </ion-list>
        <ion-list *ngFor="let pre of preMirnaList">
          <ion-item>{{ pre }}</ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>